<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:tizen="http://tizen.org/ns/widgets" 
        id="http://yourdomain/iptvkur" 
        version="0.2.1" 
        viewmodes="maximized">

    <!-- 1. СТАНДАРТНЫЕ ТЕГИ W3C (ОБЯЗАНЫ ИДТИ ПЕРВЫМИ) -->
    <name>iptvkur</name>
    <icon src="icon.png"/>
    <content src="index.html"/>
    
    <!-- Доступ к внешним ссылкам и потокам IPTV (M3U8) -->
    <access origin="*" subdomains="true"/>

    <!-- 2. СИСТЕМНЫЕ ПРОФИЛИ И ПРИЛОЖЕНИЕ TIZEN -->
    <tizen:application id="rnL3hCtpVA.iptvkur" package="rnL3hCtpVA" required_version="2.3"/>
    <tizen:profile name="tv-samsung"/>

     <!-- ЭКРАННЫЕ НАСТРОЙКИ: Идеально для Full HD 1920x1080 -->
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <tizen:metadata key="http://tizen.org" value="extensive"/>

    
    <!-- ИСПРАВЛЕНО: Правильный ключ для базового разрешения -->
    <tizen:metadata key="http://tizen.org" value="extensive"/>

    <!-- 4. РАЗРЕШЕНИЯ ПРИЛОЖЕНИЯ (PRIVILEGES) -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>            <!-- İnternet girişi -->
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>      <!-- Pult düymələrini tanımaq üçün -->
    <tizen:privilege name="http://tizen.org/privilege/mediacontrol"/>        <!-- Video pleyer idarəsi -->
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>  <!-- Tətbiq açılış idarəsi -->
    <tizen:privilege name="http://samsung.com/privilege/avplay"/>            <!-- Samsung TV Video Pleyer API -->
    <tizen:privilege name="http://samsung.com/privilege/productinfo"/>       <!-- Cihaz ID-sini (DUID) almaq üçün -->

    <!-- 5. АППАРАТНЫЕ НАСТРОЙКИ (ВСЕГДА В САМОМ КОНЦЕ) -->
    <tizen:setting 
        screen-orientation="landscape" 
        context-menu="disable" 
        background-support="disable" 
        encryption="disable" 
        install-location="auto" 
        hwkey-event="enable"/> <!-- "enable" olmalıdır ki, pultun Geri (Return) düyməsi işləsin -->

</widget>
